.account-modal {
  background-color: rgba($color-primary, 0.75);
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  padding: $sm-spacing $md-spacing;
  text-align: center;

  &:focus {
    outline: none;
  }

  &__overlay {
    height: 27rem;
    width: 25rem;
    position: absolute;
    top: 7.5rem;
    left: 97.5rem;
  }

  &__links {
    list-style: none;
    margin-top: $sm-spacing;
  }

  &__link-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: $sm-spacing;
    }
  }

  &__link-one,
  &__link-two {
    &:link,
    &:visited {
      color: inherit;
      text-decoration: none;
      border-bottom: 0.2rem solid transparent;
    }

    &:hover {
      border-bottom: 0.2rem solid $accent-color;
    }
  }

  &__link-three,
  &__link-four {
    border-bottom: 0.2rem solid transparent;

    &:hover {
      border-bottom: 0.2rem solid $accent-color;
      cursor: pointer;
    }
  }

  &__log-out-icon,
  &__account-icon,
  &__upload-icon,
  &__review-icon {
    @include headerIcons;
    margin-right: $sm-spacing;
  }
}
