.alice-carousel {
  &__stage {
    li {
      text-align: center;
    }
  }

  &__prev-btn,
  &__next-btn {
    span {
      color: #fff;

      &:hover {
        color: $accent-color;
      }
    }
  }
}
