.btn {
  margin-top: $md-spacing;
  @include btn;
  @include btnAnimation;
}

.btn-link {
  &:link,
  &:visited {
    text-decoration: none;
    transition: transform 0.2s;
    @include btn;
  }

  @include btnAnimation;
}
