.btn {
  margin-top: $md-spacing;
  @include btn;
  @include btnAnimation;
}

.btn-link {
  &:link,
  &:visited {
    text-decoration: none;
    transition: transform 0.2s;
    @include btn;
  }

  @include btnAnimation;
}

.add-remove-btns-container {
  margin-left: auto;
}

.add-remove-btn,
.play-btn,
.more-info-btn,
.add-review-btn {
  background-color: #fff;
  border-radius: $sm-spacing;
  color: $color-primary-text;
  padding: 1rem $sm-spacing;
  margin-top: $sm-spacing;

  display: flex;
  align-items: center;

  &:hover {
    color: #fff;
    cursor: pointer;
  }
}

.add-review-btn {
  text-decoration: none;
}

.search-btn {
  @include btn;
  border: none;
  border-radius: 0 1rem 1rem 0;
  width: 10%;
  height: 100%;
  padding: 0;

  @include setBreakPoints(450) {
    width: 15%;
  }

  &:hover {
    cursor: pointer;
    background-color: darken($accent-color, 15%);
  }
}

.play-btn {
  margin-right: $sm-spacing;
}

.user-review-btn {
  height: 3rem;
  width: 10rem;

  &:link,
  &:visited {
    padding-left: $sm-spacing;
    padding-top: 0;
  }
}

.delete-btn {
  background-color: red;
  border-color: red;
  margin-left: 70%;

  &:hover {
    background-color: darken(red, 15%);
  }
}
