.category {
  background-color: $color-primary-dark;
  padding: $xlg-spacing 0;

  &__container {
    margin: 0 auto;
    width: 90%;

    &:not(:last-child) {
      padding-bottom: $lg-spacing;
    }
  }

  &__heading-container {
    display: inline-block;
    padding-left: $md-spacing;
    margin-bottom: $sm-spacing;

    &:hover {
      color: $accent-color;
      cursor: pointer;
    }
  }

  &__heading {
    display: inline-block;
    font-weight: 100;
  }

  &__right-arrow-icon {
    @include icons;
    margin-left: 1rem;
    width: 2rem;
  }

  &__loading-container {
    background-color: $color-primary-dark;
    height: 90vh;
  }

  &__carousel-items {
    list-style: none;
    display: flex;
  }
}
