.category {
  background-color: $color-primary-dark;

  &__container {
    margin: 0 auto;
    width: 90%;

    @include setBreakPoints(700) {
      width: 85%;
    }

    @include setBreakPoints(450) {
      width: 75%;
    }

    @include setBreakPoints(1550) {
      width: 70%;
    }

    &:first-child {
      padding-top: $lg-spacing;
    }

    padding-bottom: $lg-spacing;
  }

  &__heading-container {
    display: inline-block;
    padding-left: $md-spacing;
    margin-bottom: $sm-spacing;

    @include setBreakPoints(500) {
      margin-bottom: $md-spacing;
    }

    &:link,
    &:visited {
      color: #fff;
    }

    &:hover {
      color: $accent-color;
      cursor: pointer;
    }
  }

  &__heading {
    display: inline-block;
    font-weight: 100;
  }

  &__right-arrow-icon {
    @include icons;
    margin-left: 1rem;
    width: 2rem;
  }

  &__loading-container {
    background-color: $color-primary-dark;
    height: 90vh;
    @include centerItems;
  }

  &__carousel-items {
    list-style: none;
    display: flex;
  }
}

.slick-slide {
  padding: 0 $sm-spacing;
}
