.form {
  color: $color-primary-text;

  display: flex;
  flex-direction: column;
  align-items: center;

  &__field-container {
    display: flex;
    flex-direction: column;
    position: relative;

    &--password {
      display: none;
    }

    &:not(:first-child) {
      margin-top: $sm-spacing;
    }
  }

  &__field-selects-container {
    margin-top: $sm-spacing;
    position: relative;
    width: 30rem;

    display: flex;
    justify-content: space-between;
    align-items: stretch;
  }

  &__field-select-container {
    &:first-child {
      flex: 0 0 75%;

      @include setBreakPoints(700) {
        flex: 0 0 65%;
      }
    }

    &:last-child {
      flex: 0 0 25%;

      @include setBreakPoints(700) {
        flex: 0 0 35%;
      }
    }
  }

  &__field {
    height: 4rem;
    width: 30rem;
    outline: none;
    border: 1px solid $color-primary-light;
    border-radius: 1rem;

    &[type='text'],
    &[type='password'] {
      padding: 1rem;
    }

    &--select {
      width: 100%;

      &:hover {
        cursor: pointer;
      }
    }
  }

  &__error-message {
    background-color: $error-color;
    border-radius: 0.5rem;
    color: #fff;
    padding: 0rem 1rem;
    position: absolute;
    top: 7rem;
    left: 0.1rem;
    z-index: 1;

    &:before {
      border-left: 1rem solid transparent;
      border-right: 1rem solid transparent;
      border-bottom: 1rem solid $error-color;
      content: '';
      height: 2rem;
      position: absolute;
      top: -1.9rem;
      left: 0.1rem;
      width: 2rem;
    }

    &--position-order {
      z-index: 2;
    }

    &--gender-select {
      left: 22.5rem;
      width: 10rem;
    }
  }
}
