.header {
  position: relative;
  height: 100vh;

  @media only screen and (min-height: 43.38em) {
    height: 70vh;
  }

  &__loading-container {
    background-color: $color-primary-dark;
    height: 100vh;
    @include centerItems;
  }

  &__container-one {
    height: 100%;
    position: absolute;
    top: -2rem;
    left: $md-spacing;
    width: 76rem;

    display: flex;
    flex-direction: column;

    @include setBreakPoints(1550) {
      top: 0rem;
    }

    @include setBreakPoints(700) {
      width: 50rem;
    }

    @include setBreakPoints(400) {
      width: 45rem;
    }
  }

  &__heading {
    font-size: 6rem;
    font-weight: 100;
  }

  &__btns {
    display: flex;
  }

  &__video-game-image {
    height: inherit;

    img {
      width: 100%;
      height: inherit;
    }

    &:after {
      background: linear-gradient(
        rgba($color-primary-dark, 0.8),
        rgba($color-primary-dark, 0.8)
      );
      content: '';
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100%;

      @media only screen and (min-height: 43.38em) {
        height: 70vh;
      }
    }
  }
}
