.heading-one {
  color: $accent-color;
  font-size: 8rem;
  font-weight: 100;
  letter-spacing: 0.5rem;
  margin: 0;
  text-align: center;

  &__primary {
    display: block;
  }

  &__secondary {
    display: block;
  }

  &__sub-heading {
    font-size: 2rem;
    margin-bottom: $md-spacing;
  }

  &--form {
    font-size: 5.5rem;
    margin-bottom: $md-spacing;
  }

  &--results {
    color: #fff;
  }
}

.heading-four {
  display: inline-block;
  font-size: 4rem;
  font-weight: 100;
  margin-bottom: $xlg-spacing;
  position: relative;

  &__container {
    text-align: center;
  }

  &::after {
    // border-bottom: solid 1px $accent-color;
    content: '';
    height: 0.2rem;
    position: absolute;
    bottom: -0.4rem;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 10rem;
    background: $accent-color;
  }
}

.heading-five {
  color: $accent-color;
  font-size: 1.8rem;
  font-weight: 100;
  margin-bottom: 0.5rem;

  &--no-margin {
    margin-bottom: 0;
  }
}
