.header {
  &__container-one {
    position: absolute;
    left: $md-spacing;
    width: 50%;
    z-index: 1;
  }

  &__heading {
    font-size: 6rem;
    font-weight: 100;
  }

  &__btns {
    display: flex;
  }

  &__video-game-image {
    position: relative;
    height: 90vh;

    img {
      width: 100%;
      height: 100%;
    }

    &:after {
      background: linear-gradient(
        rgba($color-primary-dark, 0.8),
        rgba($color-primary-dark, 0.8)
      );
      content: '';
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      height: 90vh;
      width: 100%;
    }
  }
}
