.navbar {
  background-color: $color-primary-dark;
  height: 6.7rem;
  display: flex;
  position: relative;
  z-index: 1;

  &__container {
    &--one {
      padding: 0 $md-spacing;

      flex: 0 0 60%;
      display: flex;
      align-items: center;
    }

    &--two {
      padding: 0 $md-spacing;

      flex: 0 0 40%;
      display: flex;
      justify-content: flex-end;
    }
  }

  &__links {
    display: flex;
    justify-content: space-around;
    align-items: center;

    flex: 1 0 0;

    & li {
      list-style: none;
    }
  }

  &__link {
    &:link,
    &:visited {
      color: inherit;
      text-decoration: none;
    }

    &:hover {
      border-bottom: 0.2rem solid $accent-color;
    }
  }

  &__search-link {
    align-self: center;
    height: 2.5rem;
    width: 2.5rem;
  }

  &__search-icon {
    fill: #fff;
    height: 100%;
    width: 100%;

    &:hover {
      fill: $accent-color;
    }
  }

  &__profile-photo-container {
    flex: 0 0 20%;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover .navbar__account {
      opacity: 1;
    }
  }

  &__profile-photo {
    height: 2.5rem;
    width: 2.5rem;
  }

  &__account {
    background-color: rgba($color-primary, 0.75);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    opacity: 0;
    padding: $sm-spacing $md-spacing;
    position: absolute;
    top: 6.7rem;
    right: 2rem;
    text-align: center;
  }

  &__overlay {
    height: 27rem;
    width: 25rem;
    position: absolute;
    top: 6.5rem;
    left: 97.5rem;
  }

  &__account-links {
    list-style: none;
    margin-top: $sm-spacing;
  }

  &__account-link-container {
    display: flex;

    &:not(:last-child) {
      margin-bottom: $sm-spacing;
    }
  }

  &__icon-container {
    height: 2.5rem;
    margin: 0 $sm-spacing 0.2rem 0;
  }

  &__account-link-one,
  &__account-link-two,
  &__account-link-three {
    &:link,
    &:visited {
      color: inherit;
      text-decoration: none;
      border-bottom: 0.2rem solid transparent;
    }

    &:hover {
      border-bottom: 0.2rem solid $accent-color;
    }
  }

  &__account-link-four {
    border-bottom: 0.2rem solid transparent;

    &:hover {
      border-bottom: 0.2rem solid $accent-color;
      cursor: pointer;
    }
  }

  &__log-out-icon,
  &__account-icon,
  &__upload-icon,
  &__review-icon {
    @include icons;
    margin-right: $sm-spacing;
  }
}
