.play-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  bottom: 4rem;
  background-color: $color-primary-dark;
  overflow-y: scroll;
  padding-bottom: $md-spacing;
  transform: translate(-50%, -50%);
  width: 35%;

  display: flex;
  flex-direction: column;
  align-items: center;

  @include setBreakPoints(750) {
    height: 30%;
    width: 50%;
  }

  @include setBreakPoints(550) {
    height: 25%;
  }

  &:focus {
    outline: none;
  }

  &__overlay {
    background-color: rgba($color-primary, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
  }

  &__close-icon-container {
    @include closeContainer;

    & div {
      margin: $sm-spacing $sm-spacing 0 0;
      height: 2rem;
    }
  }

  &__content {
    @include setBreakPoints(960) {
      margin-top: $md-spacing;
    }

    @include setBreakPoints(750) {
      margin-top: $sm-spacing;
    }
  }

  &__play-options {
    text-decoration: none;

    &:link,
    &:visited {
      color: inherit;
    }

    &:hover {
      color: $color-primary-light;
    }
  }
}
