.play-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  bottom: 4rem;
  background-color: $color-primary-dark;
  transform: translate(-50%, -50%);
  height: 35%;
  width: 35%;

  display: flex;
  flex-direction: column;
  align-items: center;

  &:focus {
    outline: none;
  }

  &__overlay {
    background-color: $color-primary;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
  }

  &__close-icon-container {
    @include closeContainer;

    & div {
      margin: $sm-spacing $sm-spacing 0 0;
      height: 2rem;
    }
  }

  &__play-options {
    text-decoration: none;

    &:link,
    &:visited {
      color: inherit;
    }

    &:hover {
      color: $color-primary-light;
    }
  }
}
