.SingleDatePicker {
  display: block;

  &__date-select {
    display: flex;
    justify-content: center;
  }
}

.SingleDatePickerInput {
  border-radius: 1rem;
  height: 4rem;
  width: 80%;

  @include setBreakPoints(550) {
    width: 90%;
  }

  &:hover {
    cursor: pointer;
  }
}

.DateInput {
  font-weight: 400;
  margin-top: 4%;
  margin-left: 20%;

  @include setBreakPoints(960) {
    margin-top: 5%;
    margin-left: 10%;
  }

  @include setBreakPoints(700) {
    margin-top: 4%;
    margin-left: 4%;
  }

  @include setBreakPoints(550) {
    margin-top: 2%;
    margin-left: 6%;
  }
}

.DateInput_input {
  font-weight: 400;

  &:hover {
    cursor: pointer;
  }

  &__small {
    padding: 0;
  }
}
