.video-game-card {
  height: 20rem;
  position: relative;
  margin: 0 auto;
  padding: 0 $sm-spacing;
  width: 22rem;

  @include setBreakPoints(1650) {
    width: 25rem;
    height: 25rem;
  }

  @include setBreakPoints(960) {
    width: 25rem;
    height: 25rem;
  }

  @include setBreakPoints(450) {
    width: 100%;
    height: 45rem;
  }

  &__img,
  &__img-unavailable {
    border-radius: 1rem;
    margin: 0 auto;
    height: 100%;
    width: 100%;
  }

  &__img-unavailable {
    background-color: $color-primary;
    margin: 0 auto;
    padding: $sm-spacing;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__overlay {
    background-color: $color-primary;
    border-radius: 1rem;
    height: 100%;
    width: 83%;
    position: absolute;
    top: 0;
    left: 8.5%;
    opacity: 0;

    @include setBreakPoints(960) {
      left: 8%;
      width: 84%;
    }

    @include setBreakPoints(450) {
      left: 4%;
      width: 92%;
    }

    &:hover {
      opacity: 0.8;
      cursor: pointer;
    }
  }

  &__icon-container {
    background-color: #fff;
    border-radius: 10rem;
    width: 6rem;
    height: 6rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__right-arrow-two-icon {
    fill: $accent-color;
    margin: 2rem;
    width: 2rem;
  }
}
