.video-game-card {
  height: 25rem;
  position: relative;
  margin: 0 auto;
  width: 100%;

  @include setBreakPoints(450) {
    height: 50rem;
  }

  &__img,
  &__img-unavailable {
    border-radius: 1rem;
    height: inherit;
    width: inherit;
  }

  &__img-unavailable {
    background-color: $color-primary;
    padding: $sm-spacing;
    text-align: center;

    display: flex;
    align-items: center;

    & p {
      width: 100%;
    }
  }

  &__overlay {
    background-color: $color-primary;
    border-radius: 1rem;
    height: inherit;
    width: inherit;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;

    &:hover {
      opacity: 0.8;
      cursor: pointer;
    }
  }

  &__icon-container {
    background-color: #fff;
    border-radius: 10rem;
    width: 6rem;
    height: 6rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__right-arrow-two-icon {
    fill: $accent-color;
    margin: 2rem;
    width: 2rem;
  }
}
