@mixin containerOne {
  background-color: $color-primary-light;
  border-radius: 1rem;
  padding: $xlg-spacing 0;
}

@mixin centerItems {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin btn {
  color: #fff;
  background-color: $accent-color;
  border: 1px solid $accent-color;
  border-radius: 2rem;
  padding: 1rem $md-spacing;

  &:focus {
    outline: none;
  }
}

@mixin btnAnimation {
  &:hover {
    background-color: darken($accent-color, 15%);
    transform: translateY(-0.5rem);
    cursor: pointer;
  }

  &:active {
    transform: translateY(0);
  }
}

@mixin icons {
  fill: currentColor;
  height: 100%;
}

@mixin closeContainer {
  width: 100%;
  text-align: right;
  margin-bottom: $sm-spacing;

  & div {
    display: inline-block;

    &:hover {
      cursor: pointer;
    }
  }
}

@mixin resultPage {
  background-color: $color-dark;
  min-height: 100vh;
  padding: $md-spacing;
  width: 100%;
}

@mixin videoGameCardContainer {
  padding: 0 $sm-spacing;
  margin-top: $xlg-spacing;
  width: 23rem;

  @include setBreakPoints(450) {
    width: 100%;
  }
}

@mixin results {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;

  @include setBreakPoints(1400) {
    margin: 0 auto;
    width: 125.4rem;
  }
}

@mixin reviews {
  margin: $md-spacing;
}

@mixin review {
  display: flex;
  flex-direction: column;

  &:not(:last-child) {
    margin-bottom: $md-spacing;
  }
}

@mixin reviewsContainer {
  border: 1px solid $color-primary-light;
  flex: 0 0 100%;
  max-height: 79rem;
  margin-top: $md-spacing;
  overflow-y: scroll;
}

@mixin leftArrowIcon {
  @include closeContainer;
  text-align: left;
  margin: 0;

  & div {
    height: 4rem;

    :hover {
      fill: $accent-color;
    }
  }
}

@mixin leftArrowIconLink {
  &:link,
  &:visited {
    color: #fff;
  }
}

@mixin setBreakPoints($breakpoint) {
  @if $breakpoint == 1750 {
    @media only screen and (min-width: 109.4em) {
      @content;
    }
  }

  @if $breakpoint == 1650 {
    @media only screen and (min-width: 103.1em) {
      @content;
    }
  }

  @if $breakpoint == 1550 {
    @media only screen and (min-width: 96.9em) {
      @content;
    }
  }

  @if $breakpoint == 1400 {
    @media only screen and (min-width: 87.5em) {
      @content;
    }
  }

  @if $breakpoint == 1150 {
    @media only screen and (max-width: 71.9em) {
      @content;
    }
  }

  @if $breakpoint == 1100 {
    @media only screen and (max-width: 68.8em) {
      @content;
    }
  }

  @if $breakpoint == 1050 {
    @media only screen and (max-width: 65.6em) {
      @content;
    }
  }

  @if $breakpoint == 960 {
    @media only screen and (max-width: 60em) {
      @content;
    }
  }

  @if $breakpoint == 850 {
    @media only screen and (max-width: 53em) {
      @content;
    }
  }

  @if $breakpoint == 800 {
    @media only screen and (max-width: 50em) {
      @content;
    }
  }

  @if $breakpoint == 750 {
    @media only screen and (max-width: 46.9em) {
      @content;
    }
  }

  @if $breakpoint == 700 {
    @media only screen and (max-width: 43.8em) {
      @content;
    }
  }

  @if $breakpoint == 600 {
    @media only screen and (max-width: 37.5em) {
      @content;
    }
  }

  @if $breakpoint == 550 {
    @media only screen and (max-width: 34.4em) {
      @content;
    }
  }

  @if $breakpoint == 500 {
    @media only screen and (max-width: 31.3em) {
      @content;
    }
  }

  @if $breakpoint == 450 {
    @media only screen and (max-width: 28.1em) {
      @content;
    }
  }

  @if $breakpoint == 400 {
    @media only screen and (max-width: 25em) {
      @content;
    }
  }
}
