@mixin containerOne {
  background-color: $color-primary-light;
  border-radius: 1rem;
  padding: $xlg-spacing 0;
  width: 50%;
}

@mixin centerItems {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin btn {
  color: #fff;
  background-color: $accent-color;
  background-color: $accent-color;
  border: 1px solid $accent-color;
  border-radius: 2rem;
  padding: 1rem $md-spacing;

  &:focus {
    outline: none;
  }
}

@mixin btnAnimation {
  &:hover {
    background-color: darken($accent-color, 15%);
    transform: translateY(-0.5rem);
    cursor: pointer;
  }

  &:active {
    transform: translateY(0);
  }
}

@mixin icons {
  fill: currentColor;
  height: 100%;
}

@mixin leftArrowContainer {
  width: 100%;
  text-align: right;
  margin-bottom: $sm-spacing;

  & div {
    display: inline-block;

    &:hover {
      cursor: pointer;
    }
  }
}

@mixin resultPage {
  background-color: $color-dark;
  width: 100%;
  padding: 0 0 0 $md-spacing;
}

@mixin resultContainer {
  min-height: 70.7vh;
  max-height: 100%;
}

@mixin videoGameCardContainer {
  height: 20rem;
  width: 23.9rem;
}

@mixin results {
  display: flex;
  min-height: inherit;
  max-height: inherit;
  flex-wrap: wrap;
  list-style: none;
}

@mixin reviews {
  margin: $md-spacing;
}

@mixin review {
  display: flex;
  flex-direction: column;

  &:not(:last-child) {
    margin-bottom: $md-spacing;
  }
}

@mixin reviewsContainer {
  border: 1px solid $color-primary-light;
  flex: 0 0 100%;
  max-height: 79rem;
  margin-top: $md-spacing;
  overflow-y: scroll;
}

@mixin leftArrowIcon {
  @include leftArrowContainer;
  text-align: left;
  margin: 0;

  & div {
    height: 4rem;

    :hover {
      fill: $accent-color;
    }
  }
}

@mixin leftArrowIconLink {
  &:link,
  &:visited {
    color: #fff;
  }
}
