@mixin containerOne {
  background-color: $color-primary-light;
  border-radius: 1rem;
  padding: $xlg-spacing 0;
  width: 50%;
}

@mixin centerItems {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin btn {
  color: #fff;
  background-color: $accent-color;
  background-color: $accent-color;
  border: 1px solid $accent-color;
  border-radius: 2rem;
  padding: 1rem $md-spacing;
}

@mixin btnAnimation {
  &:hover {
    background-color: darken($accent-color, 15%);
    transform: translateY(-0.5rem);
    cursor: pointer;
  }

  &:active {
    transform: translateY(0);
  }
}

@mixin headerIcons {
  fill: currentColor;
  height: auto;
  width: 2.5rem;
}
