// project colors
$accent-color: #42d8e3;
$color-primary: #1e272e;
$color-primary-dark: #111619;
$color-primary-light: #394a57;
$error-color: #ad1717;
$color-primary-text: #212121;

// spacing
$sm-spacing: 2rem;
$md-spacing: 4rem;
$lg-spacing: 6rem;
$xlg-spacing: 8rem;
