.account {
  background-color: $color-primary;
  min-height: 100vh;
  padding: $md-spacing;
  flex-direction: column;
  @include centerItems;

  &__close-icon-container {
    @include leftArrowIcon;
  }

  &__link {
    @include leftArrowIconLink;
  }
}
