.home-page {
  background-image: linear-gradient(
      rgba($color-primary, 0.7),
      rgba($color-primary, 0.7)
    ),
    url('../img/home-background.jpg');
  background-size: cover;
  background-position: center;
  color: #fff;
  height: 100vh;
  padding: 3rem 5rem 0 5rem;
  position: relative;

  &__container-one {
    display: flex;
    justify-content: space-between;
  }

  &__container-two {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 63.8rem;
    text-align: center;

    @include setBreakPoints(450) {
      width: 50rem;
    }
  }

  &__logo {
    color: $accent-color;
  }
}
