.platform-more-page {
  @include resultPage;

  &__pagination {
    margin-top: $md-spacing;
    list-style: none;

    display: flex;
    justify-content: space-around;
    align-items: center;

    @include setBreakPoints(1400) {
      width: 132rem;
      margin: $md-spacing auto;
    }
  }

  &__pagination-previous-link,
  &__pagination-next-link,
  &__pagination-link {
    outline: none;
  }

  &__pagination-numbers {
    border-radius: 10rem;
    padding: 0rem 1rem;

    &:hover {
      color: $accent-color;
      cursor: pointer;
    }

    &:active {
      outline-color: red;
    }
  }

  &__pagination-active {
    border: solid 1px $accent-color;
  }
}
