.review-page {
  background-color: $color-primary;
  height: 100vh;
  padding: $md-spacing;

  &__form-container-main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 87vh;
  }

  &__form-container {
    bottom: 4rem;
    background-color: $color-primary-dark;
    border-radius: 1rem;
    padding: $sm-spacing $md-spacing;
    height: 50rem;
    width: 50%;

    display: flex;
    flex-direction: column;
    align-items: center;

    @include setBreakPoints(1050) {
      width: 60%;
    }

    @include setBreakPoints(550) {
      width: 80%;
    }

    &:focus {
      outline: none;
    }
  }

  &__close-icon-container {
    @include leftArrowIcon;
  }

  &__link {
    @include leftArrowIconLink;
  }

  &__form {
    width: 100%;
  }

  &__form-input-container {
    display: block;
    margin: 0 auto;
    position: relative;
    width: 30rem;
  }

  &__form-input-label {
    display: block;
    margin-bottom: 1rem;
  }

  &__form-input {
    border-radius: 1rem;
    height: 4rem;
    width: 30rem;
    resize: none;

    &[type='text'] {
      padding: 1rem;
      font-family: inherit;
    }

    &:focus {
      outline: none;
    }

    &--review {
      height: 15rem;
    }
  }

  &__btn-container {
    text-align: center;
  }
}
