.search-page {
  @include resultPage;

  &__search-form-container {
    height: 6rem;
  }

  &__search-form {
    height: 100%;
    width: 100%;

    display: flex;
  }

  &__search-form-input {
    height: 100%;
    border: none;
    border-radius: 1rem 0 0 1rem;
    width: 90%;

    @include setBreakPoints(450) {
      width: 85%;
    }

    &:focus {
      outline: none;
    }

    &[type='text'] {
      font-size: 2.5rem;
      padding: 1rem;
    }
  }

  &__results-container {
    @include resultContainer;
  }

  &__results {
    @include results;
  }

  &__video-game-card-container {
    @include videoGameCardContainer;
  }
}
