.search-page {
  @include resultPage;

  &__search-form-container {
    height: 6rem;
    padding-right: $md-spacing;
  }

  &__search-form {
    width: 100%;
    height: 100%;

    display: flex;
  }

  &__search-form-input {
    flex: 0 0 90%;

    &:focus {
      outline: none;
    }

    &[type='text'] {
      font-size: 2.5rem;
      padding: 1rem;
    }
  }

  &__results-container {
    @include resultContainer;
  }

  &__results {
    @include results;
  }

  &__video-game-card-container {
    @include videoGameCardContainer;
  }
}
