.sign-in {
  background-color: $color-primary;
  height: 100vh;
  @include centerItems;

  &__container {
    height: 56.7rem;
    flex: 0 0 45%;
    @include containerOne;

    @include setBreakPoints(800) {
      flex: 0 0 80%;
    }

    @include setBreakPoints(450) {
      flex: 0 0 90%;
    }
  }
}
