.user-reviews-page {
  background-color: $color-primary;
  height: 100vh;
  padding: $md-spacing;

  & p {
    padding: $md-spacing 0 0 $md-spacing;
  }

  &__left-arrow-icon-container {
    @include leftArrowIcon;
  }

  &__link {
    @include leftArrowIconLink;
  }

  &__reviews-container-main {
    @include setBreakPoints(960) {
      margin-top: $xlg-spacing;
    }

    @include setBreakPoints(550) {
      margin-top: 14rem;
    }
  }

  &__reviews-container {
    @include reviewsContainer;
    background-color: $color-primary-dark;
    height: 43rem;
    width: 70%;
    margin: 0 auto;

    @include setBreakPoints(1400) {
      width: 92.4rem;
    }

    @include setBreakPoints(960) {
      height: 42rem;
    }

    @include setBreakPoints(550) {
      width: 90%;
    }
  }

  &__reviews {
    @include reviews;
    list-style: none;
  }

  &__review {
    @include review;
  }

  &__review-content-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__review-title {
    color: $accent-color;
  }
}
