.watch {
  background-color: $color-primary-dark;
  height: 100vh;
  padding: $md-spacing;
  width: 100vw;

  &__left-arrow-icon-container {
    @include leftArrowIcon;
  }

  &__link {
    @include leftArrowIconLink;
  }

  &__video-player-container {
    margin: $sm-spacing auto 0 auto;
    width: 70%;
    height: 90%;

    @include setBreakPoints(960) {
      margin-top: $xlg-spacing;
      width: 95%;
      height: 70%;
    }

    @include setBreakPoints(550) {
      margin-top: 20rem;
      height: 50%;
    }
  }
}
