.watch {
  background-color: $color-primary-dark;
  height: 100vh;
  padding: $md-spacing;
  width: 100vw;

  &__left-arrow-icon-container {
    @include leftArrowIcon;
  }

  &__link {
    @include leftArrowIconLink;
  }

  &__video-player-container {
    height: 86%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}
