*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;

  @include setBreakPoints(960) {
    font-size: 50%;
  }

  @include setBreakPoints(700) {
    font-size: 43.8%;
  }
}

body {
  color: #fff;
  box-sizing: border-box;
  font-size: 1.6rem;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  line-height: 1.7;
}
